* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/** form  */
.form-input {
  text-align: center;
}

.buttonClass {
  margin-left: -60%;
}

/** main  */
main {
  padding: 5rem;
  text-align: center;
  border: 2px solid rgb(25, 131, 192);
  border-radius: 1rem;
  margin: 5rem;
  background-image: url('./assets/WeatherApp.jpeg');
  /* height: 600px; */
}

.heading {
  font-size: 2.5rem;
  font-weight: 900;
}

.city-name {
  text-transform: capitalize;
}

.cardText {
  font-weight: 700;
  text-align: center;
  align-items: center;
}

.cardTitle {
  font-size: 16px;
  text-align: left;
}

.icons {
  height: 20px;
}